{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{ page }}</h1>
        {% include 'panel/breadcrumb.html' %}
    </div><!-- End Page Title -->

    <section class="section">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">With custom content</h5>

              <!-- List group with custom content -->
              <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                  </div>
                    <div class="card-text ">
                        <a href="#revisar" class="btn btn-outline-primary rounded-pill" title="Revisar" data-toggle="tooltip" data-original-title="Revisar">
                        <i class="bi bi-link-45deg"></i></a>

                        <a href="#analizar" class="btn btn-outline-warning rounded-pill" title="Analizar" data-toggle="tooltip" data-original-title="Analizar">
                        <i class="bi bi-graph-up-arrow"></i></a>

                        <a href="#editar" class="btn btn-outline-info rounded-pill" title="Editar" data-toggle="tooltip" data-original-title="Editar">
                        <i class="bi bi-pencil-square"></i></a>

                        <a href="#eliminar" class="btn btn-outline-danger rounded-pill" title="Eliminar" data-toggle="tooltip" data-original-title="Eliminar">
                        <i class="bi bi-trash3"></i></a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                        <span class="badge bg-primary rounded-pill">14</span>
                    </div>
                    <div class="card-text ">
                        <a href="#revisar" class="btn btn-outline-primary rounded-pill" title="Revisar" data-toggle="tooltip" data-original-title="Revisar">
                        <i class="bi bi-link-45deg"></i></a>

                        <a href="#editar" class="btn btn-outline-info rounded-pill" title="Editar" data-toggle="tooltip" data-original-title="Editar">
                        <i class="bi bi-pencil-square"></i></a>

                        <a href="#eliminar" class="btn btn-outline-danger rounded-pill" title="Eliminar" data-toggle="tooltip" data-original-title="Eliminar">
                        <i class="bi bi-trash3"></i></a>
                    </div>
                </li>
              </ol><!-- End with custom content -->

            </div>
          </div>
    </section>


    <section class="section">

        <!-- col-12 -->
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-12</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-2 x 6-->
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-2 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-2</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-3 x 4-->
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-3 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-3</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-3 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-3</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-3 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-3</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-3 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">col-3</h5>
                            <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-10 / col-2 -->
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-10</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-2</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->



        <!-- col-9 / col-3 -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-9</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-3</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-8 / col-4 -->
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-8</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-4</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-7 / col-5 -->
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-7</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-5</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


        <!-- col-12 -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-6</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-6</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
