{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{ page }}</h1>
        {% include 'panel/breadcrumb.html' %}
    </div><!-- End Page Title -->

    <section class="section">

        <!-- col-12 -->
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-12</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->




        <!-- col-12 -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-6</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">col-6</h5>
                    <p>This is an example page with no content. You can use it as a starter for your custom pages.</p>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
