{% load static %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link {% if 'dashboard' in request.path %} collapsed {% endif %}"
                href="{% url 'index' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard
                    {% if 'admin' in request.user.groups.all.0.name %}
                        Admin
                    {% endif %}
                    {% if 'crawler' in request.user.groups.all.0.name %}
                        Crawler
                    {% endif %}
                    {% if 'viewer' in request.user.groups.all.0.name %}
                        Viewer
                    {% endif %}
                </span>
            </a>
        </li>


        <!-- Sección Funcionalidades -->
        <li class="nav-heading">Funcionalidades</li>
        <li class="nav-item">
            <a class="nav-link {% if 'crawler' in request.path %} collapsed {% endif %}"
                href="#" >
                <i class="bi bi-incognito"></i>
                <span>Crawler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'report' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-bar-chart-line"></i>
                <span>Reportes</span>
            </a>
        </li>


        <!-- Seccion Ayuda -->
        <li class="nav-heading">Ayuda</li>
        <li class="nav-item">
            <a class="nav-link {% if 'ayuda' in request.path %} collapsed {% endif %}"
                href="{% url 'ayuda' %}">
                <i class="bi bi-question-circle"></i>
                <span>Ayuda</span>
            </a>
        </li>

    {% comment %}
    {% if 'admin' in request.user.groups.all.0.name %}
        <li class="nav-item">
            <a class="nav-link {% if 'articulo' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-file-richtext"></i>
                <span>Artículos de Ayuda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'categoria' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-tags"></i>
                <span>Categorías</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'imagen' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-tags"></i>
                <span>Imágenes</span>
            </a>
        </li>
    {% endif %}
    {% endcomment %}

    {% if 'admin' in request.user.groups.all.0.name %}
        <!-- Sección Usuarios -->
        <li class="nav-heading">Usuarios</li>
        <li class="nav-item">
            <a class="nav-link {% if 'usuario' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-people"></i>
                <span>Usuarios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'regist' in request.path %} collapsed {% endif %}"
                href="#">
                <i class="bi bi-card-list"></i>
                <span>Registro de usuarios</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link {% if 'blank' in request.path %} collapsed {% endif %}"
                href="{% url 'blank' %}">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li>


    {% endif %}

        <li class="nav-heading">Configuración</li>

    {% if 'admin' in request.user.groups.all.0.name %}
        <li class="nav-item">
            <a class="nav-link {% if 'configuracion' in request.path %} collapsed {% endif %}"
                href="{% url 'configuracion' %}">
                <i class="bi bi-sliders"></i>
                <span>Configuración</span>
            </a>
        </li>
    {% endif %}

        <li class="nav-item">
            <a class="nav-link {% if 'salir' in request.path %} collapsed {% endif %}"
                href="{% url 'salir' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Salir</span>
            </a>
        </li>
    </ul>
</aside>
<!-- End Sidebar-->
